<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiêu đề Trang</title>
    <!-- Liên kết đến tệp CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- Phần đầu của trang -->
<header>
    <h1>Chào mừng đến với trang web của tôi</h1>
</header>

<!-- Phần nội dung chính của trang -->
<main>
    <section>
        <h2>Giới thiệu</h2>
        <p>Đây là một đoạn văn bản giới thiệu về trang web.</p>
    </section>
    <section>
        <h2>Dịch vụ</h2>
        <ul>
            <li>Dịch vụ 1</li>
            <li>Dịch vụ 2</li>
            <li>Dịch vụ 3</li>
        </ul>
        <h2>Welcome message: <%= message %></h2>
        <h2>APP PORT: <%= appPort %></h2>
    </section>
</main>

<!-- Phần chân trang -->
<footer>
    <p>Bản quyền © 2024. Tất cả các quyền được bảo lưu.</p>
</footer>

<!-- Liên kết đến tệp JavaScript -->
<script src="script.js"></script>
</body>
</html>
